@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* RESET */
:root {
	--clr-white: hsl(0, 0%, 100%);
	--clr-grey: hsl(0, 0%, 50%);
	--clr-black: hsl(0, 0%, 7%);
	--clr-yellow: hsl(47, 88%, 63%);
}

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Start of styles */
body {
	background-color: var(--clr-yellow);
	font-family: 'Figtree', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	line-height: 1.4;
}

.container {
	max-width: 358px;
	background-color: var(--clr-white);

	padding: 1.3rem;
	border-radius: 10px;
	border: 2px solid black;

	box-shadow: rgba(0, 0, 0, 1) 5px 5px;
}

img {
	border-radius: 10px;
}

.learning {
	font-weight: 800;
	margin-top: 1rem;
	padding: 0.5rem 0.7rem;
	border-radius: 5px;
	background-color: var(--clr-yellow);
	display: inline-block;
}
.publish {
	margin-top: 1rem;
}
.title {
	font-size: 1.2rem;
	font-weight: 800;
	padding: 1rem 0;
}
.content {
	color: var(--clr-grey);
	font-size: 1rem;
	font-weight: 500;
}
.signiture {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-top: 1rem;
	font-size: 0.8rem;
	font-weight: 800;
}
.signiture > img {
	max-height: 2.5rem;
	padding: 0.3rem;
	margin-right: 0.5rem;
}
